
body {
    margin: 0;
    padding: 0;
}

.cabecera {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff; 
    padding: 10px 20px; 
   
}

.menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline; 
  
}

.menu ul li a {
    text-decoration: none; 
    margin-left: 20px; 
    color: #333; 
}


.cabecera img {
    width: 300px; 
    height: auto; 
margin-left: 3%;
}